*

!ci
!ci/**/*

!contributing
!contributing/**/*

!docs
!docs/**/*

!gradle
!gradle/**/*

!src
!src/**/*

!.dockerignore
!.editorconfig
!.gitattributes
!.gitignore
!.travis.yml
!codenarc.groovy

!Dockerfile
!LICENSE
!*.md
!*.sh

!build.gradle
!settings.gradle
!gradle*
